<div id="screenApp" class="screen screenFull screenOpacity">

  <div class="header main">
    <a class="ic-title-logo"></a>
    <h2 class="lh-56">Walle7</h2>
    <a class="ic-title-lock" data-view-show="screenPin"></a>
    <a class="ic-title-settings" data-modal-show="modalSettings"></a>
  </div>

  <div class="content contentHeader double">
  <% include ./modals/mainCore.html %>
  <% include ./modals/mainHistory.html %>
  </div>

  <% include ./modals/settings.html %>
  <% include ./modals/coin.html %>
  <% include ./modals/wallets.html %>

  <% include ./modals/deposit.html %> 
  <% include ./modals/exchange.html %> 
  <% include ./modals/withdraw.html %> 

  <% include ./modals/transactionTransfer.html %>  
  <% include ./modals/transactionExchange.html %>

  <% include ./modals/preloader.html %>
  <% include ./modals/help.html %>
  <% include ./modals/github.html %>
  <% include ./modals/discord.html %>

</div>